@charset "utf-8";
/* CSS Document */

/* ===== header ===== */
header { position: fixed; width: 100%; top: 0; height: 70px; transition: all 0.3s ease-in; z-index: 9; }
header:hover { height: 250px; }
.hd-fullLogo, .hd-scrollFullLogo { position: absolute; left: 50px; top: 18px; }
.hd-smallLogo { display: none; }
nav { background: rgba(0,0,0,0.8); transition: all 0.6s ease-in; }
nav .main-menu { position: absolute; left: 50%; top: 35px; transform: translate(-50%, -50%); }
nav .main-menu > li { margin:  0 30px; }
nav .main-menu > li > a { /* height 속성을 줘야 함 */
    width: 140px; height: 70px; padding: 0 15px;
    color: #fff; line-height: 70px; text-align: center;
}
nav .main-menu > li:hover .dot { width: 100px; }
nav .dot {
    position: absolute; left: 50%; transform: translateX(-50%); top: 5px;
    width: 0; height: 1px; background: #c00000; border-radius: 2px; transition: all 0.1s ease-in;
}
nav .sub-menu { display: none; position: absolute; top: 80px; width: 140px; z-index: 9; }
nav .sub-menu li a {
    width: 140px; height: 45px;
    color: #fff; padding: 0 10px; line-height:45px; text-align: center;
}
nav .sub-menu li a:hover { color: #c00000; transition: all 0.2s ease-in; }


.search-box {
    position: absolute; right: 50px; top: 15px; height: 40px;
    background: #fff; border-radius: 40px; box-shadow: 0 0 7px rgba(0,0,0,0.5); /*background: #fc0;*/
}
.search-txt {
    float: left; width: 0; height: 40px; padding: 0;
    font-family: 'Noto Sans KR', sans-serif; line-height: 40px;
    border: none; outline: none; background: none;
    transition: all 0.4s ease-out;
}
.search-btn {
    float: right; display: flex; justify-content: center; align-items: center;
    width: 30px; height: 30px; margin: 5px;
    color: #000; background: #fff; border-radius: 40px;
    transition: all 0.4s ease-in 0.2s;
}
.search-box:hover { background: #fff; }
.search-box:hover > .search-txt { width: 150px; height: 40px; padding-left: 10px; font-family: 'Noto Sans KR', sans-serif; line-height: 40px; }
.search-box:hover > .search-btn { color: #000; }
#check, .checkBtn, .closeBtn { display: none; }

/* ===== Scroll header ===== */
.hd-scrollSmallLogo { display: none; }
/* 아래 선 생성 */
header#sub-fixed { border-bottom: 1px solid rgba(0,0,0,0.3); }
/* 메인, 서브메뉴 변경 */
header#sub-fixed { background: #F2F2F2; margin-top: -100px; z-index: 10;  transition: all 0.4s ease-in; }
header#sub-fixed .main-menu li a { color: #000; }
header#sub-fixed .main-menu .sub-menu li a:hover { color: #c00000; }
/* 검색버튼 변경 */
header#sub-fixed .search-box { box-shadow: 0 0 3px rgba(0,0,0,0.5); }



/* ===== footer ===== */
footer { width: 100%; height: 240px; background: #000; }
.ft-wrap { width: 1300px; height: 240px; margin: 0 auto; }
.ft-wrap .ft-logo { float: left; padding: 101px 200px 101px 0; }
.ft-wrap .ft-info { float: left; padding: 61px 0; width: 500px; }
.ft-wrap p { color: #fff; font-weight: 300; font-size: 13px; padding: 10px 0; }
.ft-wrap .sns { float: right; padding: 105px 0; }
.sns li { padding-left: 30px; }



/* ===== section ===== */
section { width: 100%; }
article { position: relative; width: 1300px; margin: 100px auto; }


/* 메인 : start */
@keyframes mainAni {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.all { position: fixed; left: 50%; transform: translateX(-50%); width: 1300px; height: 100vh; }
.flexslider { position: absolute; left: 6vw; top: 50%; transform: translateY(-50%); width: 32%; height: 500px; }
.main-wrap { position: absolute; right: 6vw; top: 40%; transform: translateY(-40%); width: 55%; }
.main-wrap p {
    padding: 0 0 10px 270px;
    font-size: 20px; font-weight: 500; color: #fff; letter-spacing: -1.5px; text-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: mainAni 2s linear alternate;
}
.main-wrap p span { font-weight: 700; color: #c00000; }

.main-wrap h3, .main-wrap h4 {
    float: right; animation: mainAni 2s linear alternate;
    font-family: 'Signika Negative', sans-serif; font-size: 140px; color: #c00000;
    letter-spacing: -8px; line-height: 98px; text-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.main-wrap h3 { padding-right: 55px; }
.main-wrap h4 { color:#fff; }

.main-wrap a {
    position: absolute; left:65%; top: 140%; transform: translateX(-50%); width: 200px; height: 65px; background: rgba(255,255,255,0.1);
    font-family: 'Signika Negative'; font-size: 30px; font-weight: 700; text-transform: uppercase; color: #fff;
    text-align: center; line-height: 65px; border-radius: 65px; border: 2px solid #fff; transition: all 0.3s ease-in;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); animation: mainAni 4s linear alternate;
}
.main-wrap a:hover { color: #fff; background: #c00000; border: 2px solid #c00000; }
/* 메인 : end */



/* 커스터마이징 : start */
section .cm-bn { position: relative; width: 100%; height: 500px; background: url("../imgs/cm-bn.jpg") no-repeat center center; overflow: hidden; }
.cm-bn h3 { position: absolute; left: 0; top: 340px; font-size: 140px; font-weight: 600; color: rgba(255,255,255,0.6); letter-spacing: -8px; }
.cm-bn h3 span { color: rgba(192,0,0,0.6); }

.cm-text { text-align: center; }
.cm-text h2 { font-weight: 700; font-size: 32px; color: #C00000; }
.cm-text h4 { padding-top: 5px; font-family: 'Signika Negative'; font-weight: 400; color: #333; font-size: 20px; text-align: center; }
.cm-text p { font-weight: 400; padding: 20px 0 50px 0; }

.cm-tabs { position: relative; height: 1450px; }
.cm-tabs input { position: absolute; opacity: 0; }
label {
    display: block; float: left; position: absolute;
    width: 150px; height: 50px;
    text-align: center; line-height: 50px; color: #FFF;
    cursor: pointer; background: #a1a1a1; border-radius: 10px;
    transition: all 0.2s ease-in;
}
label.cm-tab-label1 { left: 22%; }
label.cm-tab-label2 { left: 37%; }
label.cm-tab-label3 { left: 52%; }
label.cm-tab-label4 { left: 67%; }

label:hover { background: #C00000; }

.cm-tabs input:checked + label { background: #C00000; }
.cm-tabs input.cm-tab-select1:checked ~ .cm-box .cm-fabric,
.cm-tabs input.cm-tab-select2:checked ~ .cm-box .cm-collar,
.cm-tabs input.cm-tab-select3:checked ~ .cm-box .cm-button,
.cm-tabs input.cm-tab-select4:checked ~ .cm-box .cm-size {
   opacity: 1; z-index: 9; transition: opacity 0.3s ease-out 0.2s;
}

.cm-fabric, .cm-collar, .cm-button, .cm-size {
   position: absolute; left:0; top: 50px; width: 100%; margin-top: 80px;
   opacity:0; transition: opacity 0.3s ease-in;
}

.cm-left-line { float: left; }
.cm-box h3 { float: left; width: 380px; font-size: 26px; text-align: center; line-height: 2px; color: #333; }
.cm-right-line { float: right; }
.cm-left-line, .cm-right-line { width: 460px; height: 2px; background: #333; }

.cm-fabric-top, .cm-collar-top, .cm-button-top { margin-top: 30px; }

.cm-fabric ul li, .cm-collar ul li, .cm-button ul li {
   width: 380px; height: 500px; margin: 40px;
   transform: scale(1);transition: all 0.5s ease-in; cursor: pointer;
   box-shadow: 0 0 2px rgba(0,0,0,0.4); overflow: hidden;
}

.box-text { width: 100%; height: 70px; margin-top: 431px; padding: 20px; background: #fff; transition: all 0.5s ease-in; }
.box-text h4, .box-text p { transition: all 0.7s ease-out; }
.box-text h4 { font-size: 20px;  color: #C00000; }
.box-text p { padding-top: 15px; }

.cm-fabric ul li:hover, .cm-collar ul li:hover, .cm-button ul li:hover { box-shadow: 0 0 3px rgba(0,0,0,0.5); }
.cm-fabric ul li:hover .box-text, .cm-collar ul li:hover .box-text, .cm-button ul li:hover .box-text {
   height: 420px; margin-top: 340px;
   transform: skewY(15deg); transition: all 0.4s ease-in;
}
.cm-fabric ul li:hover .box-text h4, .cm-collar ul li:hover .box-text h4, .cm-button ul li:hover .box-text h4 {
   transform: skewY(-15deg); transition: all 0.4s ease-in;
}
.cm-fabric ul li:hover .box-text p, .cm-collar ul li:hover .box-text p, .cm-button ul li:hover .box-text p {
   transform: skewY(-15deg); transition: all 0.4s ease-in;
}

.cm-fabric-top li:nth-child(1) { margin-left: 0; background:url("../imgs/cm-fb-img1.jpg") no-repeat center top; }
.cm-fabric-top li:nth-child(2) { background: url("../imgs/cm-fb-img2.jpg") no-repeat center top; }
.cm-fabric-top li:nth-child(3) { margin-right: 0; background: url("../imgs/cm-fb-img3.jpg") no-repeat center top; }
.cm-fabric-bottom li:nth-child(1) { margin-left: 0; background: url("../imgs/cm-fb-img4.jpg") no-repeat center top; }
.cm-fabric-bottom li:nth-child(2) { background: url("../imgs/cm-fb-img5.jpg") no-repeat center top; }
.cm-fabric-bottom li:nth-child(3) { margin-right: 0; background: url("../imgs/cm-fb-img6.jpg") no-repeat center top; }

.cm-collar-top li:nth-child(1) { margin-left:0; background: url("../imgs/cm-cl-img1.jpg") no-repeat center top; }
.cm-collar-top li:nth-child(2) { background: url("../imgs/cm-cl-img2.jpg") no-repeat center top; }
.cm-collar-top li:nth-child(3) { margin-right:0; background: url("../imgs/cm-cl-img3.jpg") no-repeat center top; }
.cm-collar-bottom li:nth-child(1) { margin-left:0; background: url("../imgs/cm-cl-img4.jpg") no-repeat center top; }
.cm-collar-bottom li:nth-child(2) { background: url("../imgs/cm-cl-img5.jpg") no-repeat center top; }
.cm-collar-bottom li:nth-child(3) { margin-right:0; background: url("../imgs/cm-cl-img6.jpg") no-repeat center top; }

.cm-button-top li:nth-child(1) { margin-left:0; background: url("../imgs/cm-bt-img1.jpg") no-repeat center top; }
.cm-button-top li:nth-child(2) { background: url("../imgs/cm-bt-img2.jpg") no-repeat center top; }
.cm-button-top li:nth-child(3) { margin-right:0; background: url("../imgs/cm-bt-img3.jpg") no-repeat center top; }
.cm-button-bottom li:nth-child(1) { margin-left:0; background: url("../imgs/cm-bt-img4.jpg") no-repeat center top; }
.cm-button-bottom li:nth-child(2) { background: url("../imgs/cm-bt-img5.jpg") no-repeat center top; }
.cm-button-bottom li:nth-child(3) { margin-right:0; background: url("../imgs/cm-bt-img6.jpg") #fff no-repeat center top; }


.cm-size ul { width: 1000px; margin: 30px auto; }
.cm-size li { float: left; width: 200px; height: 70px; padding-left:40px; line-height: 70px; transition: all 0.4s ease-in; }
.cm-ac-tbtop li { border-top: 2px solid #000; border-bottom: 2px solid #000; }
.cm-size li:first-child { font-weight: 700; font-size: 25px; color: #F4F4F4; background:#940709; }
.cm-ac-tbtop li { margin-top: 50px; font-weight: 700; background:#f0d6cb; }
.cm-ac-tbtop li:first-child { color: #C00000; background: #fff; }
.cm-ac-tbend li { border-bottom: 2px solid #000; }
.cm-size ul:hover li { background: rgba(0,0,0,0.2); }
.cm-size ul:hover li:first-child { background:#940709; }
.cm-size ul.cm-ac-tbtop:hover li { background: #f0d6cb; }
.cm-size ul.cm-ac-tbtop:hover li:first-child { background: #F2F2F2; }
/* 커스터마이징 : end */



/* 제작과정 : start */
section .pd-bn { position: relative; width: 100%; height: 500px; background: url("../imgs/pd-bn.jpg") no-repeat center center; overflow: hidden; }
.pd-bn h3 { position: absolute; left: 0; top: 340px; font-size: 140px; font-weight: 600; color: rgba(255,255,255,0.6); letter-spacing: -8px; }
.pd-bn h3 span { color: rgba(192,0,0,0.6); }

/* ================ 제작과정 ==================*/
.pd-text { text-align: center; }
.pd-text h2 { font-weight: 700; font-size: 32px; color: #C00000; }
.pd-text h4 {margin-top:-8px; font-family: 'Signika Negative'; font-weight: 400; color: #333; font-size: 20px; text-align: center; }
.pd-text p { position: relative; font-weight: 400; padding: 25px 0 100px 0; }

.pd-top-line { margin-top:30px; }
.pd-bottom-line { margin-top:130px; }

.pd-top-line h3, .pd-bottom-line h3 {
    float:left; width:380px; font-size:26px; text-align:center; line-height:2px; color: #333;
}

.pd-left-line, .pd-right-line { float:left; width:460px; height:2px;  background:#333; }

/* ================ 레디 투 메이크 ==================*/
.pd-first { float:left; width:48%; }
.pd-second { float:right; width:48%; }

.pd-re-title { 
    display: inline-block; position: relative;
    width: 40%; height: 88px; margin:70px 185px 20px 190px; padding: 13px 85px 13px 10px; 
    background: #f0d6cb; border:2px dashed rgba(0,0,0,0.1); border-radius: 10px;  overflow: hidden; cursor: pointer; z-index: 9; 
}
.pd-re-title h1 { 
    position: absolute;
    font-size: 25px; text-align: right; line-height:20px; color: #333; 
    transition: all 0.4s ease-in 0.1s; 
}
.pd-re-title i { 
    position:absolute; right:15px; bottom:5px;
    font-weight:700;
    font-size:20px;
    transition: all 0.4s ease-in 0.4s;
}
.pd-re-title span { color: #c00000; }

.pd-re-text {
    position:relative;
    width:100%; height:640px; padding:20px;
    background: #fff; border-radius: 10px; box-shadow: 0 0 1px rgba(0,0,0,0.3);
    overflow: hidden;
}

.pd-re-text p { padding-bottom: 20px; }

.pd-first-bg {
    position:absolute; left:0; top:0;
    width: 100vw; height: 100vh;
    background: url("../imgs/od-bn.jpg") no-repeat center top;
    background-size:145%;
    border-radius: 5px;
    opacity:0.9;    
}
.pd-second-bg {
    position:absolute; left:0; top:0;
    width: 100vw; height: 100vh;
    background: url("../imgs/od-bn3.jpg") no-repeat right top;
    background-size:145%;
    border-radius: 5px;
    opacity:0.9;
}
.pd-nt-text, .pd-it-text { position:relative; left:0; top:0; padding:20px; }

.pd-nt-text p:nth-child(4), .pd-nt-text p:nth-child(5) { padding-bottom:20px; }
.pd-nt-text p:nth-child(5), .pd-it-text p:nth-child(6) { padding-top:20px; border-top:2px dashed rgba(0,0,0,0.2); }

/*================ 버튼 하버 =================*/
.pd-re-title::before {
    content:"";
    position:absolute; left: -200%; top: -200%; width: 180%; height: 270%;
    background:#c00000; transform:rotate(40deg);
}
.pd-re-title:hover::before{
    left: -30%; top: -60%;
    animation:btnAction 1s 1;
}
.pd-re-title:hover h1, .pd-re-title:hover span {
    color:#F1F1F1; transform:scale(1);
    transform: translateX(95px);
    transition: all 0.3s ease-in 0.1s;
}

.pd-re-title:hover i {
    right:220px;
    color:#F1F1F1; transform:scale(1);
}

@keyframes btnAction {
    0% { left: -200%; top: -200%; }
    50% { left: 20%; top: -100%; }
   100% { left: -30%; top: -60%; }
}



/* ================ 동영상 ==================*/
.pd-video { position: relative; width: 96%; height: 1320px; margin-top: 70px; }
.pd-video li { position: absolute; height: 530px; border:2px dashed rgba(0,0,0,0.1); border-radius: 10px; overflow: hidden; }


.pd-video li:nth-child(2) { left: 54%; top: 0; }
.pd-video li:nth-child(3) { left: 0%; bottom: 15%; }
.pd-video li:nth-child(4) { left: 54%; bottom: 15%; }

.pd-video li:nth-child(1), .pd-video li:nth-child(3) { width: 50%; }
.pd-video li:nth-child(2), .pd-video li:nth-child(4) { width: 50%; }
.pd-video li video { width: 625px; }

.pd-video li p {
    position: absolute; width: 625px; height: 200px; margin-top:-5px; padding:30px 18px;
    color: #333;  line-height: 25px; background:#fff; border-bottom-left-radius:30px; border-bottom-right-radius:30px;
    transition: font-size 0.8s ease-in;
}

/*동영상 마스크*/
.pd-svg svg {
    position: absolute; font-size: 1.8em; width: 625px; height: 70px; 
    transition: font-size 0.8s ease-in;
}

.step1 rect { fill: #f1d9cf; mask:url(#mask1); }
.step2 rect { fill: #f1d9cf; mask:url(#mask2); }
.step3 rect { fill: #f1d9cf; mask:url(#mask3); }
.step4 rect { fill: #f1d9cf; mask:url(#mask4); }

svg text { font-family: 'Noto Sans KR', sans-serif; font-weight: 900; letter-spacing: -2.5px; }
/* 제작과정 : end */



/* 리뷰 : start*/
section .rv-bn { position: relative; width: 100%; height: 500px; background: url("../imgs/rv-bn.jpg") no-repeat center center; overflow: hidden; }
.rv-bn h3 { position: absolute; left: 0; top: 340px; font-size: 140px; font-weight: 600; color: rgba(255,255,255,0.6); letter-spacing: -8px; }
.rv-bn h3 span { color: rgba(192,0,0,0.6); }

.rv-text { text-align: center; }
.rv-text h2 { font-weight: 700; font-size: 32px; color: #C00000; }
.rv-text h4 { font-family: 'Signika Negative'; line-height: 15px; font-weight: 400; color: #333; font-size: 20px; text-align: center; }
.rv-text p { font-weight: 400; padding: 20px 0 50px 0; }

.rv-imgs { width: 1200px; height: 1280px; margin: 0 auto; }
.rv-imgs .img { transition: all 0.3s ease-in; }
.rv-top > li, .rv-middle > li, .rv-bottom > li { margin: 5px; }
.rv-top > li > ul > li:nth-child(1), .rv-bottom > li > ul > li:nth-child(1) { margin: 0 0 10px 0; }
.rv-top > li:nth-child(1) .img { float: left; width: 680px; height: 450px; background: url("../imgs/rv-1.jpg") no-repeat center center; overflow: hidden; }
.rv-top > li:nth-child(2) { float: right; width: 500px; }
.rv-top > li:nth-child(2) ul li:nth-child(1) .img { width: 500px; height: 250px; background: url("../imgs/rv-2.jpg") no-repeat center center; overflow: hidden; }
.rv-top > li:nth-child(2) ul li:nth-child(2) .img { width: 500px; height: 190px; background: url("../imgs/rv-3.jpg") no-repeat center center; overflow: hidden; }
.rv-middle > li:nth-child(1) .img { float: left; width: 300px; height: 350px; background: url("../imgs/rv-4.jpg") no-repeat center center; overflow: hidden; }
.rv-middle > li:nth-child(2) .img { float: left; width: 510px; height: 350px; background: url("../imgs/rv-5.jpg") no-repeat center center; overflow: hidden; }
.rv-middle > li:nth-child(3) .img { float: right; width: 360px; height: 350px; background: url("../imgs/rv-6.jpg") no-repeat center center; overflow: hidden; }
.rv-bottom > li:nth-child(1) { float: left; width: 540px; }
.rv-bottom > li:nth-child(1) ul li:nth-child(1) .img { float: left; width: 540px; height: 200px; background: url("../imgs/rv-7.jpg") no-repeat center center; overflow: hidden; }
.rv-bottom > li:nth-child(1) ul li:nth-child(2) .img { float: left; width: 540px; height: 240px; background: url("../imgs/rv-8.jpg") no-repeat center center; overflow: hidden; }
.rv-bottom > li:nth-child(2) .img { float: right; width: 640px; height: 450px; background: url("../imgs/rv-9.jpg") no-repeat center center; overflow: hidden; }


/*하버 했을 때 제품정보*/
.rv-imgs > ul li { position: relative; cursor: pointer; }
.rv-imgs > ul li h4, .rv-imgs > ul li p { position: absolute; opacity: 0; }
.rv-imgs > ul li h4 {
    left:20%; top:45%; transform: translateY(-45%);
    color: #000; transition: all 0.2s ease-in 0.2s; font-size: 20px; text-align: center;
}
.rv-imgs > ul li p {
    left: 70%; top: 45%; transform:translate(-100%,-45%); margin-top: 20px;
    color: #c00000; font-weight: 500; font-size: 22px; transition: all 0.2s ease-in 0.3s;
}

/*배경색 변경*/
.rv-top > li:nth-child(1):hover > .img,
.rv-top > li:nth-child(2) > ul li:hover > .img,
.rv-middle li:hover > .img,
.rv-bottom > li:nth-child(1) > ul > li:hover > .img,
.rv-bottom > li:nth-child(2):hover > .img {
    opacity: 0.3; box-shadow: 0 0 2px rgba(0,0,0,0.5); transform: rotateY(180deg);
}
/*텍스트 들어오기*/
.rv-imgs > ul li:hover > h4, .rv-imgs > ul li:hover > p {
    left:50%; top: 45%; transform:translate(-50%,-45%); 
    opacity: 1;
}

/*클릭 했을 때 모달창*/
.rv-modal { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 99; }
.rv-modal-content { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 820px; height: 500px; box-shadow: 0 0 1px rgba(0,0,0.5); }
.rv-modal-content .left { position: absolute; float: left; width: 61%; left: 0; top: 0; }
.rv-modal-content .right { position: absolute; float: right; width: 39%; height:100%; right: 0; top: 0;background: #fff; padding: 30px; }
.right .top > img { float: left; box-shadow: 0 0 1px rgba(0,0,0.1); }
.right .top p { float: left; padding-left: 15px; font-size: 14px; }
.right .top > p span { color: #c00000; }
.right hr { width: 100%; }
.right .bottom { padding-top: 85px; }
.right .bottom p { padding: 12px 0; font-size: 14px; }
.top > p.gray, .bottom > p.gray { float: left; padding-top: 0; color: gray; font-size: 13px; }

/* 버튼 */
.rv-modal-content .prev, .rv-modal-content .next, .rv-modal-content .close {
    position: absolute; top: 320px; transition: all 0.2s ease-in; z-index: 15; cursor: pointer; opacity: 0.5;
}
.rv-modal-content .prev:hover, .rv-modal-content .next:hover, .rv-modal-content .close:hover {
    transform: scale(1.15); opacity: 1;
}
.rv-modal-content .prev { top: 240px; }
.rv-modal-content .next { left: 460px; top: 240px; }
.rv-modal-content .close { right: 0; top: -33px; }
/* 리뷰 : end*/



/* 주문 : start */
@keyframes OrderAni {
    0% { background: url("../imgs/od-bn.jpg") no-repeat center center; }
    50% { background: url("../imgs/od-bn2.jpg") no-repeat center center; }
    100% { background: url("../imgs/od-bn3.jpg") no-repeat center center; }
}
section .od-bn { position: relative; width: 100%; height: 500px; background-size: cover; overflow: hidden; transform: translateX(0); animation: OrderAni 9s ease-in-out infinite; }
.od-bn h3, .od-bn h4 { 
   position:absolute; right: 20%;
   font-size:120px; font-family: 'Signika Negative', sans-serif;
   letter-spacing: -4.5px; text-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.od-bn h3 { top: 110px; color:#c00000; }
.od-bn h4 { right: 17.4%; top: 195px; color: #fff; }
.od-bn p { 
   position:absolute; right: 21%; top:320px;
   font-size:22px; color:#fff;
   letter-spacing: -1.5px; text-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.od-bn p strong { color:#c00000; }

.od-bn ul { position: absolute; width: 360px; right: 19%; top: 385px; margin-left: -180px; }
.od-bn ul li { padding: 0 20px; }
.od-bn ul li a {
    width:140px; height:50px; background: rgba(255,255,255,0.1);
    text-align:center; line-height:50px; font-size:20px; font-weight: 700; color: #fff;
    border: 1.5px solid #fff; border-radius:30px; box-shadow: 0 0 1px rgba(0,0,0,0.2); 
    transition: all 0.2s ease-in;
}
.od-bn ul li a:hover { background: #c00000; border: 1.5px solid #c00000; }

.od-text { text-align: center; }
.od-text h2 { font-weight: 700; font-size: 32px; color: #C00000; }
.od-text h4 { font-family: 'Signika Negative'; line-height: 15px; font-weight: 400; color: #333; font-size: 20px; text-align: center; }
.od-text p { font-weight: 400; padding: 20px 0 50px 0; }

/*=====Sale=====*/
article .ac-one li { position:relative; width:400px; height:540px; box-shadow: 0 0 1px rgba(0,0,0,0.4);}

article .ac-one li h4 { padding-top:40px; font-size:24px; text-align:center; color:#c00000; }

article .ac-one li p { padding-top: 8px; padding-bottom:32px; text-align:center; font-size:16px; }

article .ac-one li { background:#f0d6cb; }
article .ac-one li:nth-child(2) { margin-left:50px; }
article .ac-one li:nth-child(3) { margin-left:50px; }

article .ac-one svg { position:absolute; left:0; top:0; }

article .ac-one svg line { stroke-width:4; stroke:#fff; fill:none; }

article .ac-one li:nth-child(1):hover svg line { transition-delay:0.1s;  }

article .ac-one li svg line { stroke-width: 10px; transition: all 0.4s; }

article .ac-one li:hover svg line { stroke-width: 0; }

article .ac-one li svg line.top, article .ac-one li svg line.bottom { stroke-dasharray: 400; }
article .ac-one li svg line.left, article .ac-one li svg line.right { stroke-dasharray: 540; }

article .ac-one li:hover svg line.top { transform: translateX(-400px); }
article .ac-one li:hover svg line.bottom { transform: translateX(400px); }
article .ac-one li:hover svg line.left { transform: translateY(540px); }
article .ac-one li:hover svg line.right { transform: translateY(-540px); }

/*=====Make Cloth=====*/
@keyframes OrderAni2 {
    0% { background: url("../imgs/od-ac-two1.png") no-repeat left top; }
    34% { background: url("../imgs/od-ac-two2.png") no-repeat left top; }
    67% { background: url("../imgs/od-ac-two3.png") no-repeat left top; }
    100% { background: url("../imgs/od-ac-two4.png") no-repeat left top; }
}
.ac-two-img { float: left; width: 350px; height: 480px; margin: 30px 0 0 130px; animation: OrderAni2 8s linear infinite; }
.ac-two > a { position: absolute; width: 170px; left: 23.5%; top: 590px; transform: translateX(-85px); background: #c00000; border-radius: 30px; padding: 15px; line-height: 20px; text-align: center; font-size: 20px; color: #fff; font-weight: 600; box-shadow: 0 0 3px rgba(0,0,0,0.2); transition: all 0.2s ease-in; }
.ac-two > a:hover { color: #fff; background: #a1a1a1; }

.right { position: absolute; right: 0; width: 636px; height: 480px; box-shadow: 0 0 1px rgba(0,0,0,0.7); }
.right-tabs { position: relative; left: 0; height: 56px; width: 636px; }
.right-tabs > label { display:block; float:left; width: 159px; height: 56px; background: #fff; border-radius: 0; color: #333; text-align: center; line-height: 56px; }
.right-tabs > label:hover { background: #c00000; color: #fff; }
.right-tabs > input {display:none; }

label.od-tab-label1 { left: 0; }
label.od-tab-label2 { left: 25%; }
label.od-tab-label3 { left: 50%; }
label.od-tab-label4 { right: 0; }

.right-tabs input:checked + label { background: #c00000; color: #fff; }
.right-tabs input.od-tab-select1:checked ~ .right-box .right-fabric,
.right-tabs input.od-tab-select2:checked ~ .right-box .right-collar,
.right-tabs input.od-tab-select3:checked ~ .right-box .right-button,
.right-tabs input.od-tab-select4:checked ~ .right-box .right-color
{ opacity: 1; transition: opacity 0.3s ease-in; }

.right-box ul {
   position: absolute; margin-top: 56px;
   opacity:0; transition: opacity 0.3s ease-in;
}
.right-box ul li a { position: absolute; left: 10px; bottom: 10px; color: #000; font-weight: 500; }
.right-box .right-fabric li:nth-child(1) a,
.right-box .right-fabric li:nth-child(2) a,
.right-box .right-fabric li:nth-child(3) a,
.right-box .right-fabric li:nth-child(4) a,
.right-box .right-fabric li:nth-child(5) a,
.right-box .right-fabric li:nth-child(6) a,
.right-box .right-color li:nth-child(4) a
{ color: #fff; font-weight: 500; }

.right-box .right-fabric li { position: relative; width: 212px; height: 212px; }
.right-box .right-fabric li:nth-child(1) { background: url("../imgs/cm-fb-img1.jpg"); }
.right-box .right-fabric li:nth-child(2) { background: url("../imgs/cm-fb-img2.jpg"); }
.right-box .right-fabric li:nth-child(3) { background: url("../imgs/cm-fb-img3.jpg"); }
.right-box .right-fabric li:nth-child(4) { background: url("../imgs/cm-fb-img4.jpg"); }
.right-box .right-fabric li:nth-child(5) { background: url("../imgs/cm-fb-img5.jpg"); }
.right-box .right-fabric li:nth-child(6) { background: url("../imgs/cm-fb-img6.jpg"); }

.right-box .right-collar li { position: relative; width: 212px; height: 212px; }
.right-box .right-collar li:nth-child(1) { background: url("../imgs/cm-cl-img1.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-collar li:nth-child(2) { background: url("../imgs/cm-cl-img2.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-collar li:nth-child(3) { background: url("../imgs/cm-cl-img3.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-collar li:nth-child(4) { background: url("../imgs/cm-cl-img4.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-collar li:nth-child(5) { background: url("../imgs/cm-cl-img5.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-collar li:nth-child(6) { background: url("../imgs/cm-cl-img6.jpg") no-repeat center top; background-size: 100%; }

.right-box .right-button li { position: relative; width: 212px; height: 212px; }
.right-box .right-button li:nth-child(1) { background: url("../imgs/cm-bt-img1.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-button li:nth-child(2) { background: url("../imgs/cm-bt-img2.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-button li:nth-child(3) { background: url("../imgs/cm-bt-img3.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-button li:nth-child(4) { background: url("../imgs/cm-bt-img4.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-button li:nth-child(5) { background: url("../imgs/cm-bt-img5.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-button li:nth-child(6) { background: url("../imgs/cm-bt-img6.jpg") no-repeat center top; background-size: 100%; }
.right-box .right-color li { position: relative; width: 212px; height: 212px; }
.right-box .right-color li:nth-child(1) { background: #094e2d; }
.right-box .right-color li:nth-child(2) { background: #e7d7c0; }
.right-box .right-color li:nth-child(3) { background: #1d2265; }
.right-box .right-color li:nth-child(4) { background: #000; }
.right-box .right-color li:nth-child(5) { background: #a39f9f; }
.right-box .right-color li:nth-child(6) { background: #5d3d06; }

/*=====Top=====*/
article .ac-three { position:relative; cursor:pointer; }

.od-top-line { margin-top:30px; }
.od-bottom-line { margin-top:130px; }

.od-top-line h5, .od-bottom-line h5 {
    float:left; width:300px; font-size:26px; text-align:center; line-height:2px; color: #333;
}

.od-left-line, .od-right-line { float:left; width:500px; height:2px;  background:#333; }

article .ac-three li { float: left; width:310px; margin-left:20px; margin-top:65px; }

article .ac-three li:first-child { margin-left:0; }

article .ac-three li h6 { margin:20px 0 0 10px; font-size:16px; }

article .ac-three li p { float:right; padding: 0 10px 0 0; font-size:22px; color:#c00000; }

article .ac-three li > a { height:400px; box-shadow:0 0 1px rgba(0,0,0,0.4); }

article .ac-three  li:nth-child(1) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-three1-1.jpg");
   opacity: 0; transition: all 0.4s ease-in-out;
}
article .ac-three  li:nth-child(1):hover div { opacity:1; }

article .ac-three  li:nth-child(2) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-three1-2.jpg");
   opacity: 0; transition: all 0.4s ease-in-out;
}

article .ac-three  li:nth-child(2):hover div { opacity:1;  }

article .ac-three  li:nth-child(3) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-three1-3.jpg");
   opacity: 0; transition: all 0.4s ease-in-out;
}

article .ac-three  li:nth-child(3):hover div { opacity:1; }

article .ac-three  li:nth-child(4) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-three1-4.jpg");
   opacity: 0; transition: all 0.4s ease-in-out;
}

article .ac-three  li:nth-child(4):hover div { opacity:1; }


/*=====Outer=====*/
article .ac-four { position:relative; cursor:pointer; }

article .ac-four li { float: left; width:310px; margin-left:20px; margin-top:65px; transition:opacity 0.6s;  }

article .ac-four li:nth-child(1):hover img, 
article .ac-four li:nth-child(2):hover img,
article .ac-four li:nth-child(3):hover img, 
article .ac-four li:nth-child(4):hover img{ opacity:0; }

article .ac-four li:first-child { margin-left:0; }

article .ac-four li h6 { margin:20px 0 0 10px; font-size:16px; }

article .ac-four li p { float:right; padding: 0 10px 100px 0; font-size:22px; color:#c00000; }

article .ac-four li > a { height:400px; box-shadow:0 0 1px rgba(0,0,0,0.4); }

article .ac-four  li:nth-child(1) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-four1-1.jpg");
   transform:rotateY(180deg);
   opacity: 0; transition: all 0.6s ease-in-out;
}

article .ac-four  li:nth-child(1):hover div { transform:rotateY(360deg);  opacity:1; }

article .ac-four  li:nth-child(2) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-four1-2.jpg");
   transform:rotateY(180deg);
   opacity: 0; transition: all 0.6s ease-in-out;
}

article .ac-four  li:nth-child(2):hover div { transform:rotateY(360deg);  opacity:1; }

article .ac-four  li:nth-child(3) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-four1-3.jpg");
   transform:rotateY(180deg);
   opacity: 0; transition: all 0.6s ease-in-out;
}

article .ac-four  li:nth-child(3):hover div { transform:rotateY(360deg);  opacity:1; }

article .ac-four  li:nth-child(4) div  {
   position: absolute;   width:310px; height:400px;
   background-image:url("../imgs/od-ac-four1-4.jpg");
   transform:rotateY(180deg);
   opacity: 0; transition: all 0.6s ease-in-out;
}

article .ac-four  li:nth-child(4):hover div { transform:rotateY(360deg);  opacity:1; }
/* 주문 : end */